<div class='aboutTxtWrapper'>
	<span class='abouttxt1'>
		<u>sierra</u> is an east coast transplant currently inhabiting <u>San Francisco</u> and attempting to assimilate the scene.
	</span><br>
	<span class='abouttxt2'>
		with a background in film production, glass half full stack web development, & the rearing of a plethora of <u>animal species</u>, you'll most likely find her foraging for good s'mores making sticks or reading a <i>western</i>.
	</span><br>
	<span class='abouttxt3'>
		
	</span>
</div>