<div class='aboutTxtWrapper'>
	<span class='abouttxt1'>
		sierra is an east coast transplant currently inhabiting <a href="#" title="" class="masterTooltip" id="tooltip-sf">San Francisco</a> and attempting to assimilate the scene.
	</span><br>
	<span class='abouttxt2'>
		with a background in film production, glass half full stack web development, & the raising of a plethora of <u>animal species</u>, you'll still most likely find her foraging for good s'mores-making sticks or reading a <i>western</i>.
	</span><br>
	<span class='abouttxt1'>
		voted 2016's 
	</span>
	<span class='abouttxt3'>
		"most likely to lose a baked potato & then build a website about it"
	</span>
</div>