<div id='codePortfolio2'>

	<div class="card effect__hover">
  		<div class="card__front klinkCard">
    		<span class="card__text">[ klink ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front clinicfinderCard">
    		<span class="card__text">[ clinic finder ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front adoptCard">
    		<span class="card__text">[ adopt ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front potatobodyCard">
    		<span class="card__text">[ potato body project ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front portfoliosCard">
    		<span class="card__text">[ portfolio sites ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front kathyandsierraCard">
    		<span class="card__text">[ kathy & sierra ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<!-- <div class="card effect__hover">
  		<div class="card__front kwantreeCard">
    		<span class="card__text">[ kwan tree ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div> -->

<!-- 	<div class="card effect__hover">
  		<div class="card__front vimeoCard">
    		<span class="card__text">[ vimeo feature ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div>

	<div class="card effect__hover">
  		<div class="card__front comingsoonCard">
    		<span class="card__text">[ coming soon... ]</span>
  		</div>
  		<div class="card__back">
    		<span class="card__text">back</span>
  		</div>
	</div> -->

</div>