<div class='filmWrapper'>
	<div class='experience'>
	    <table border=1>
	        <tr>
	            <th>Position</th>
	            <th>Project / Company</th>
	            <th>Type</th>
	            <th>Producer</th>
	            <th>Director</th>
	        </tr>
	        <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>Fort Irwin</i></td>
	          	<td>Short</td>
	          	<td>Marc Tarczali</td>
	          	<td>Quinn Else</td>
	        </tr>
	        <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>Unmanned</i> [2 Episodes]</td>
	          	<td>Web Series</td>
	          	<td>Christina Hensley</td>
	          	<td>Tatiana Mercurio</td>
	        </tr>
	        <tr>
	          	<td>Production Assistant; 2nd 2nd</td>
	          	<td>Fitbit</td>
	          	<td>Photoshoot</td>
	          	<td>Chhayal Mehta</td>
	          	<td>John Rafferty</td>
	        </tr>
	        <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>The Southern Thruway</i></td>
	          	<td>Short</td>
	          	<td>Amanda Freedman</td>
	          	<td>Samir Oliveros</td>
	        </tr>
	        <tr>
	          	<td>Production Assistant</td>
	          	<td><i>YOU</i></td>
	          	<td>Magazine</td>
	          	<td>Epic Digital</td>
	          	<td>Kiana Moore</td>
	        </tr>
	        <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>Backpage</i></td>
	          	<td>Short</td>
	          	<td>Xiaoxiao Li</td>
	          	<td>R.J. Glass</td>
	        </tr>
	        <tr>
	          	<td>Assistant Writer; Production Assistant</td>
	          	<td>Fitbit Coach</td>
	          	<td>Mobile App</td>
	          	<td>Chhayal Mehta</td>
	          	<td>Ben Hoedt</td>
	        </tr>
	        <tr>
	          	<td>Production Assistant</td>
	          	<td>Fitbit</td>
	          	<td>Photoshoot</td>
	          	<td>Richie Gordon</td>
	          	<td>John Rafferty</td>
	        </tr>
	         <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>Life of Homer</i></td>
	          	<td>Short</td>
	          	<td>Ryan Binse</td>
	          	<td>Dimitris Tsilifonis</td>
	        </tr>
	         <tr>
	          	<td>Script Supervisor</td>
	          	<td><i>Clarity</i></td>
	          	<td>Short</td>
	          	<td>Amanda Freedman</td>
	          	<td>Zahra Golafshani</td>
	        </tr>
	         <tr>
	          	<td>Production Assistant</td>
	          	<td>Aspen Productions</td>
	          	<td>Photoshoot</td>
	          	<td>Liz Long</td>
	          	<td>Elizabeth Amaral</td>
	        </tr>
	        <tr>
	          	<td>Assistant Producer</td>
	          	<td>Culture Trip</td>
	          	<td>Docu-series</td>
	          	<td>Jacqueline Torgerson</td>
	          	<td>Jacqueline Torgerson</td>
	        </tr>
	        <tr>
	            <td>Set Carpenter</td>
	            <td><i>Robo-Dog: Airborne</i></td>
	            <td>Feature</td>
	            <td>Mark Boot</td>
	            <td>Anthony Giordano</td>
	        </tr>
	        <tr>
	            <td>Unit Production Manager</td>
	            <td><i>November 30th</i></td>
	            <td>Short</td>
	            <td>Larry Katz</td>
	            <td>Nathan Wind</td>
	        </tr>
	        <tr>
	            <td>Script Supervisor</td>
	            <td>January May - <i>Young</i></td>
	            <td>Music Video</td>
	            <td>Nestor Vera</td>
	            <td>Deion McCarter</td>
	        </tr>
	        <tr>
	            <td>Script Supervisor</td>
	            <td><i>Table Manners</i></td>
	            <td>Short</td>
	            <td>Jason Boyette</td>
	            <td>Michelle Navarrete</td>
	        </tr>
	        <tr>
	            <td>Script Supervisor</td>
	            <td>IYAZ - <i>Sleeping Alone</i></td>
	            <td>Music Video</td>
	            <td>Mohsen Khaial</td>
	            <td>Carl Verna</td>
	        </tr>
	        <tr>
	            <td>1st Assistant Director</td>
	            <td>Full Sail BTS Tour</td>
	            <td>Live Production</td>
	            <td>Duane Moore</td>
	            <td>Rob Haynes</td>
	        </tr>
	        <tr>
	            <td>Script Supervisor/BTS</td>
	            <td>Hoop Culture</td>
	            <td>Web Promo Series</td>
	            <td>David Daudin</td>
	            <td>Christopher Gotera</td>
	        </tr>
	        <tr>
	            <td>Videographer</td>
	            <td>15th World Congress</td>
	            <td>Live Stream</td>
	            <td>Effie Chow</td>
	            <td>John Han</td>
	        </tr>
	    </table>
	</div>
</div>