<div class='projectShow projectShowCard'>

	<span class='centered'>
	<div class='projLinks'>
		<span class='navSpacer'> • </span>
		<%= link_to 'website', 'http://itwe.herokuapp.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
		<div class='comingsoon'>Coming soon!</div>
	<p class='projDesc'>
		<span class='larger'>A blog dedicated to the paralleled adventures, creations, and thoughts of two girls traversing San Francisco (&  occassionally the remainder of the world).</span>
	</p>
	
	<span class='projTechStack'>TECH STACK</span><br>
		<span class='projTechStackContent'>Ruby on Rails, JavaScript, HTML and CSS, GoogleMaps API, TinyMCE</span>
	
</div>