<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'site', 'http://itwe.herokuapp.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<h1>Kathy & Sierra: It We</h1>
		<p><i>Coming soon!</i></p>
		<p>A blog dedicated to the paralleled adventures, creations, and thoughts of two girls traversing San Francisco (&  occassionally the remainder of the world).</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, JavaScript, HTML and CSS, GoogleMaps API, TinyMCE</p	>
	
</div>