<div class='projectShow projectShowCard'>

	<span class='centered'>
	<div class='projLinks'>
		<%= link_to 'github', 'https://github.com/sierramclawhorn/chrome-extension', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<%= link_to 'download', 'https://chrome.google.com/webstore/detail/adoptable-pets/eobhliicjbpfbpedjemajncjoghfpfmk', target: '_blank', rel: 'nofollow' %>
	</div>
	</span>

	<p class='projDesc'>
		<span class='larger'>A chrome extension used to increase the exposure of adoptable animals and make it easier for people to connect with them. Each time you're greeting with a new pet's picture, description, contact info, and Petfinder link -- with only one click, right on your browser!</span>
	</p>
	
	<span class='projTechStack'>TECH STACK</span><br>
		<span class='projTechStackContent'>JS, HTML, CSS, Petfinder API</span><br><br><br>

	<div class='cardImg'>	
		<img src="https://i.postimg.cc/Mpg7HRgY/Screen_Shot_2018-09-17_at_10.45.16.png" class='cardImgSmallest'>
	</div>

</div>