<div class='projectShow projectShowCard'>

	<span class='centered'>
	<div class='projLinks'>
		<span class='navSpacer'> • </span>
		<%= link_to 'lisasound', 'http://www.lisasound.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<br>
		<span class='navSpacer'> • </span>
		<%= link_to 'sierramclawhorn', 'http://www.sierramclawhorn.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<p class='projDesc'>
		<span class='larger'>Personalized resume and portfolio sites built from scratch to display your skills to the world via interwebs <i>magic</i>.</span>
	</p>
	
	<span class='projTechStack'>TECH STACK</span><br>
		<span class='projTechStackContent'>Ruby on Rails, JavaScript, HTML and CSS, various others</span><br><br>

	<div class='cardImg'>	
		<img src="https://c1.staticflickr.com/5/4245/34180298494_f54e4a3b37_b.jpg" class='cardImgSmaller'>
	</div>
	
</div>