<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'lisasound', 'http://lisasound.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<h1>Portfolio Sites</h1>
		<p>Personalized resume and portfolio sites built from scratch to display your skills to the world via interwebs <i>magic</i>.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, JavaScript, HTML and CSS, various others</p>

	<div class='projImgs'>
		<img src="https://c1.staticflickr.com/5/4245/34180298494_1ba1098461_b.jpg">
	</div>
	
</div>