<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'lisasound', 'http://lisasound.com/', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<h1>Portfolio Sites</h1>
		<p>Personalized resume and portfolio sites build from scratch to show off your individual skill sets and work.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, JavaScript, HTML and CSS, various others</p>
	
</div>