<div class='projectShow projectShowCard'>

	<span class='centered'>
	<div class='projLinks'>
		<span class='navSpacer'> • </span>
		<%= link_to 'website', 'http://thepotatobodyproject.com/', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>

	<p class='projDesc'>
		<span class='larger'>A blog-style art project that grew from an obsessive idea into a pseudo-reality of creatures donning spud torsos.</span>
	</p>
	
	<span class='projTechStack'>TECH STACK</span><br>
		<span class='projTechStackContent'>Ruby on Rails, TinyMCE, HTML, CSS, Heroku</span><br><br>

	<div class='cardImg'>	
		<img src="https://c1.staticflickr.com/5/4158/34430232311_29fca66b58_h.jpg" class='cardImgSmaller'>
	</div>

</div>