<div class='filmSection'>

	<div class='filmBG'>
		<div class='filmTitleDiv'>
			<div class='filmTitle'>
				<div class='filmBtn'>film</span>
			</div>
		</div>
	</div>
	
	<div class=' navLinks filmResume'>
		<%= render 'film' %>
	</div>

</div>