home - about & contact - film - code - potato bounce
<div class='nameHeader'>
	<p class='nameTitle'>Sierra McLawhorn</p>

	<!-- fix animation (possible jquery) -->
	<p class='tagline textAnimatedOne'>human typewriter</p>
	<p class='tagline textAnimatedTwo'>potato enthusiast</p>
</div>