<div class= 'aniPotato'>
  <%= image_tag('potato.png', class: 'potato') %>
</div>


<div class='nameHeader'>
	<%= link_to hello_path do %>
		<%= image_tag('icon-harlot.png', :class => 'mainIcon') %>
	<% end %>
	
	<p class='nameTitle'>Sierra McLawhorn</p>
	
	<p class='tagline'>| <span class='taglineTxt'>human typewriter</span> |</p>
</div>