<div class='toggleParent'>
	<div class='toggleHolder'>
		<div class='nameHeader'>
			<%= image_tag('icon-harlot.png', :class => 'mainIcon') %>
		
			<p class='nameTitle'>Sierra 		McLawhorn</p>
		
			<p class='tagline'>| <span class='		taglineTxt'>human typewriter</span>		 |</p>
		</div>
	</div>

	<div class='navLinks'>
		<%= image_tag('icon-film.png', :class => 'icon film') %>
		<%= image_tag('icon-code2.png', :class => 'icon code') %>
		<%= image_tag('icon-contact.png', :class => 'icon contact') %>
	</div>
</div>
		
		