home - about & contact - film - code - potato bounce
<div class='nameHeader'>
	<p class='nameTitle'>Sierra McLawhorn</p>

	<p class='tagline'>| <span class='taglineTxt textAnimatedOne'>human typewriter</span> |</p>
</div>