<div class='projectShow'>

	<span class='centered'>
	<div class='nav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'github', 'https://github.com/sierramclawhorn/kwan-tree', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<h1>Kwan Tree</h1>
		<p><i>Coming soon!</i></p>
		<p>Moving into the digital age of record keeping, this app is intended to record the extended and extensive relations of the Kwan family.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, JavaScript, HTML and SCSS</p>
	
</div>