<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<%= link_to 'download', 'https://chrome.google.com/webstore/detail/adoptable-pets/eobhliicjbpfbpedjemajncjoghfpfmk', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<%= link_to 'github', 'https://github.com/sierramclawhorn/chrome-extension', target: '_blank', rel: 'nofollow' %>
	</div>
	</span>

	<h1>Petfinder Chrome Extension</h1>
		<p>A chrome extension used to make finding adoptable animals in your area easier. With each view, you get details of a new available pet nearby, based on your geolocation.</p>
	
	<h2>Tech Stack</h2>
		<p>JS, CSS, Petfinder API</p>

	<div class='projImgs'>	
		<img src="https://s1.postimg.org/3k7zed9b3/rsz_1rsz_collage-2017-03-27.png">
	</div>

</div>