<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<%= link_to 'download', 'https://rubygems.org/gems/clinic_finder', 	target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<%= link_to 'github', 'https://github.com/sierramclawhorn/chrome-extension', target: '_blank', rel: 'nofollow' %>
	</div>
	</span>

	<h1>Petfinder Chrome Extension</h1>
		<p>A chrome extension used to make finding adoptable animals in your area easier. With each view, you get details of a new available pet nearby, based on your geolocation.</p>
	
	<h2>Tech Stack</h2>
		<p>JS, CSS, Petfinder API</p>

	<div class='projImgs'>	
		<img src="https://c1.staticflickr.com/3/2908/33511823742_561c63de41_h.jpg">
	</div>

</div>