<div class='projectShow'>

	<span class='centered'>
	<div class='projNav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'blog', 'https://www.sierras.life', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>

	<h1>Sierras.Life</h1>
		<p>A personal blog site built on Rails.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, TinyMCE, HTML, CSS, Heroku</p>

	<div class='projImgs'>	
		<img src="https://c1.staticflickr.com/3/2944/33668164825_a466f29524_k.jpg">
	</div>

</div>