<div class='projectShow'>

	<span class='centered'>
	<div class='nav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'blog', 'https://www.sierras.life', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>

	
	<h1>Sierras.Life</h1>
		<p>A personal blog site built on Rails.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, HTML, CSS, Heroku</p>

</div>