home - education - title - github

<div id='portfolio'> 
	<div class="codeProjectDiv">
		<div class="codeProject">
			<%= link_to "klink", klink_path %>
		</div>
	</div>
	<div class="codeProjectDiv">
		<div class="codeProject">
			<%= link_to "kathy and sierra", kathyandsierra_path %>
		</div>
	</div>
	<div class="codeProjectDiv">
		<div class="codeProject">
			<%= link_to "kwan tree", kwantree_path %>
		</div>
	</div>
	<div class="codeProjectDiv">
		<div class="codeProject">
			<%= link_to "american paradise", americanparadise_path %>
		</div>
	</div>
	<div class="codeProjectDiv">
		<div class="codeProject">
			coming soon...
		</div>		
	</div>
	<div class="codeProjectDiv">
		<div class="codeProject">
			coming soon...
		</div>		
	</div>
</div>