<div class='projectShow'>

	<span class='centered'>
	<div class='nav'>
		<%= link_to 'github', 'https://github.com/JulianBoralli/	klink', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
		<%= link_to 'app', 'http://klinkapp.herokuapp.com/', 	target: '_blank', rel: 'nofollow' %>
	</div>
	</span>
	
	<h1>Klink</h1>
		<p>Recognizing that children learn through repetition 	and feedback, our five person team created a collection 	of children's games that uses Fabric JS to create an 	interactive canvas for children to improve their 	literary skills. Our collection of games can be 	connected to the Xbox 360 Kinect to allow users to play 	the games with a wave of a hand, or can be played using 	a computer or tablet device.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, Fabric JS, JavaScript, HTML and CSS</p	>
	
	<h2>Responsibilities</h2>
		<ul>
			<li>implementation of workarounds to library 	deprication issues, such as Canvas JS 	responsiveness;</li>
			<li>implementation of Fabric JS letter block 	snapping feature;</li>
			<li>implementation of animations;</li>
			<li>implementation of drawing game</li>
		</ul>

</div>