<div class='projectShow'>

	<span class='centered'>
	<div class='nav'>
		<span class='navSpacer'> • </span>
		<%= link_to 'github', 'https://github.com/sierramclawhorn/kwan-tree', target: '_blank', rel: 'nofollow' %>
		<span class='navSpacer'> • </span>
	</div>
	</span>
	
	<h1>Kwan Tree</h1>
		<p>Being a family that defines the term 'extended', it's only fitting that the Kwans entered the digital age record keeping and extend jealousy to the Kwannabes of the interwebs and not just those on cruise ships.</p>
	
	<h2>Tech Stack</h2>
		<p>Ruby on Rails, JavaScript, HTML and SCSS</p	>
	
</div>