$font-stack:'ltc-bodoni-175-it', sans-serif;
$font-stack2:'ltc-bodoni-175', sans-serif;
$font-stack3:'lato', sans-serif;

#portfolio {
	margin-top: 5%;
	text-align: center;
}

.codeProjectDiv {
	width: 45vw;
	height: 20vw;
	margin: .1%;
	margin-bottom: .3%;
	display: inline-block;
	background-color: #ffd2da;
	border: 3px white solid;
}

.codeProject {
	position: relative;
	margin-top: 20%;
  	font-family: $font-stack2;
	font-size: 2.5vw;
	color: white;
	text-shadow: .7px 1px #d8d8d8;
}

.codeProject a, .codeProject .codeProjBtn{
	color: white;
	text-decoration: none;
}

.codeProject a:hover, .codeProject .codeProjBtn:hover {
	color: black;
    cursor: pointer;
}

.codeTitle {
	font-family: $font-stack;
	font-size: 200%;
}

@media all and (max-width: 540px) {
    .codeProjectDiv { 
    	width: 90vw;
    	height: 40vw;
    }
    .codeProject {
    	font-size: 6vw;
    }
}



// individual project pages
.centered {
	text-align: center;
}

.projectShow li {
	font-family: $font-stack2;
	font-size: 1em;
    text-align: left;
}


// modals
.codeProjectModal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    color: black;
    text-align: center;
}
.codeProjectModalContent {
    background-color: #f9dbe0;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.projClose {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}
.projClose:hover,
.projClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}