$font-stack:'ltc-bodoni-175-it', sans-serif;
$font-stack2:'ltc-bodoni-175', sans-serif;
$font-stack3:'lato', sans-serif;

#portfolio {
	// border: 1px solid black;
	text-align: center;
}

.codeProjectDiv {
	width: 48vw;
	height: 20vw;
	margin: .1%;
	display: inline-block;
	background-color: #ffd2da;
}

.codeProject {
	padding-top: 20%;
  	font-family: $font-stack2;
	font-size: 1.4em;
	color: white;
	text-shadow: .7px 1px #d8d8d8;
}

.codeProject a{
	color: white;
	text-decoration: none;
}

.codeProject a:hover {
	color: black;
}

.codeTitle {
	font-family: $font-stack;
	font-size: 200%;
}