<!DOCTYPE html>
<html>
  <head>
    <title>Sierra McLawhorn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="google-site-verification" content="1SrV59oMtXxagQ-4cMNjZNvjNz4eMPvUz3RtQakwvwY" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
